
.PageContainer-outerContainer {
  background-color: #3a4750;
}

.PageContainer-innerContainer {
  max-width: 760px;
  padding: 20px 80px;
  margin: 0 auto;
  background-color: white;
  min-height: 100vh;
}

.PageContainer-header {
  background-color: #63c8d2;
  height: 80px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 12px;
  border-radius: 2px;
}

.PageContainer-title {
  font-size: 30px;
  margin: 0;
}
